{{ form(form) }}

{#  {{ form_start(form) }} {# <form> #}
{#{{ form_label(form.email, 'Email dauteur') }}  <label> #}
{#{{ form_widget(form.email) }} {# <input> #}
{#{{ form_errors(form.email) }}

{{ form_label(form.username, 'Nom  dauteur') }} {# <label> #}
{#{{ form_widget(form.username) }} {# <input> #}
{#{{ form_errors(form.username) }}
{# c'est l'équivalent à  #}
{#  {{ form_rows(form.username) }}#}

{#{{ form_end(form) }} {# </form> #}